---
import BaseLayout from '#layouts/BaseLayout.astro';
---

<BaseLayout>
    <section aria-label="404 no found" id="no-found">
        <h1><i class="ri-footprint-line"></i> 似乎来到了未知的角落 ~~ (⊙ˍ⊙)？</h1>
        <p>
            Seems to reached an unknown corner.<small>
                <a href="/"><code>404 no found <i class="ri-arrow-go-back-line"></i></code></a>
            </small>
        </p>
    </section>
</BaseLayout>
